{% load static %}

<!--========== PARALLAX ==========-->
<div class="parallax-window" data-parallax="scroll" data-image-src="{% static 'img/1920x1080/01.jpg' %}">
    <div class="parallax-content container">
        <h1 class="carousel-title">Our Work</h1>
        <p>See our latest projects and achievements</p>
    </div>
</div>
<!--========== PARALLAX ==========-->

<!--========== PAGE LAYOUT ==========-->
<!-- Portfolio -->
<div class="content-lg container">
    <div class="row text-center margin-b-40">
        <div class="col-sm-6 col-sm-offset-3">
            <h2>Portfolio</h2>
            <p>Check out some of our amazing work</p>
        </div>
    </div>
    <!--// end row -->

    <div class="row">
        <div class="col-sm-4 sm-margin-b-50">
            <div class="margin-b-20">
                <img class="img-responsive" src="{% static 'img/397x400/01.jpg' %}" alt="Project 1">
            </div>
            <h4><a href="#">Project Alpha</a></h4>
            <p class="margin-b-5">Web application development with modern technologies</p>
        </div>
        <div class="col-sm-4 sm-margin-b-50">
            <div class="margin-b-20">
                <img class="img-responsive" src="{% static 'img/397x400/02.jpg' %}" alt="Project 2">
            </div>
            <h4><a href="#">Project Beta</a></h4>
            <p class="margin-b-5">Mobile app design and development</p>
        </div>
        <div class="col-sm-4 sm-margin-b-50">
            <div class="margin-b-20">
                <img class="img-responsive" src="{% static 'img/397x400/03.jpg' %}" alt="Project 3">
            </div>
            <h4><a href="#">Project Gamma</a></h4>
            <p class="margin-b-5">E-commerce platform development</p>
        </div>
    </div>
    <!--// end row -->
</div>
<!-- End Portfolio -->
<!--========== END PAGE LAYOUT ==========-->